---
layout: layout.njk
metadata:
  title: トップページ
  description: トップページです
  keywords: eleventy, nunjucks, frontend
---

<section class="fv">
  <h1>{{ metadata.title }}</h1>
  <p>{{ metadata.description }}</p>
</section>
